@import url('https://fonts.google.com/specimen/Prata');


body {
    background-color: rgb(250, 247, 247);
    font-family: Raleway, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 35px;
}

/* Text tha are in the range of the Logo */
nav a:hover {
    color: #f6f609;
    text-decoration-line: underline;

}

.home-title {
    font-family: Raleway, sans-serif;
    font-size: 1em;
    margin-top: 25px;
}


#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-row: 1/3;
    grid-column: 1/4;
    z-index: -1;
}

#hero-msg {
    grid-column: 1/4;
    grid-row: 1/2;
    margin: 100px 0 0 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgb(75, 103, 75);
    box-shadow: 10px 10px 20px black;

}

nav {
    display: flex;
    justify-content: space-around;
}

/*Below is The Hero image property*/

.home-title {
    color: #d9c2a3;
    text-shadow: #0f0f0f;
    margin-top: 5px;
    margin-right: 20px;
    text-align: center;
    font: Old English;

}

#hero-img {


    width: 100%;
    margin-top: 100px;


}

#hero-msg h1,
#hero-msg h4 {
    text-align: left;


}

.button-box {
    text-align: center;
}

.icon {
    width: 80px;

}

.logo {
    width: 80px;
    border-radius: 40px;

}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

}

main section {
    text-align: center;

}

.bio-img {
    width: 100%;
    grid-column: 3/5;
    grid-row: 6/7;


}

.bio-img {

    box-shadow: 5px 5px 10px #0f0f0f;

}


#background {
    margin-top: 100px;
    grid-column: 1/11;
    grid-row: 4/9;
}

.msg {


    width: 100%;
    background-color: rgb(75, 103, 75);
    grid-column: 5/10;
    grid-row: 5/8;

}

main section img {
    box-sizing: border-box;
}

#background {
    height: 1086px;
    background-color: #d9c2a3;
}



.msg {
    line-height: 1.5em;

}

/* This is he About-Page CSS code  beginning. anything inside this or below here is for the about page */
#background-A {
    height: 1086px;
    background-color: #d9c2a3;
}

#background-A {

    margin-top: 100px;
    grid-column: 1/11;
    grid-row: 4/9;
}

#background-B {
    margin-top: 100px;
    grid-column: 1/11;
    grid-row: 4/9;

}

#background-B {
    height: 1086px;
    background-color: #d9c2a3;
}

/* media icon positioning */


footer {
    background-color: rgb(75, 103, 75);
    color: rgb(247, 250, 247);
    ;
    padding: 25px 50px
}

footer {
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #f0f3f0;
    ;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

/* Media-Screen positioning-Code */
@media screen and (max-width: 900px) {

    #hero,
    .home-grid {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

    #background {
        display: none;
    }

    .bio-img,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}